@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html {
  font-size: 10px;

  font-family: 'Roboto', sans-serif;
}

input,
label,
select,
option {
  font-size: 1.8rem;
}

input:not([type='submit']),
select {
  @apply px-4;

  height: 35px;
  width: 240px;

  border: 1px solid #ccc;
}

.bg-gray-custom {
  background-color: #f2f2f2;
}

/** buttons **/
.btn {
  @apply border-b border-transparent text-center text-white font-medium px-2 py-3 cursor-pointer appearance-none;

  background-color: #870f54;

  transition: padding 0.2s ease-in-out;
}

.btn-action {
  font-size: 1.6rem;
}

.btn-outer {
  @apply border-2 border-solid bg-transparent p-2 flex items-center justify-center cursor-pointer;

  border-color: #870f54;

  height: 54px;
  width: 275px;

  transition: padding 0.25s ease-in-out;
}

.btn-outer:hover {
  @apply p-0;
}

.btn-outer:hover > .btn {
  @apply px-2 py-5;
}

@media (min-width: 768px) {
  .btn-action {
    font-size: 2rem;
  }

  .btn-outer {
    @apply p-4;

    height: 70px;
  }

  .btn-outer:hover > .btn {
    @apply px-4 py-8;
  }
}

.calculator-select-item {
  transition: transform 0.25s ease-in-out;
}

.calculator-select-item:hover {
  @apply bg-black;
}

.calculator-select-item:hover p {
  @apply text-white;
}

.calculator-select-item:hover svg {
  transform: scale(1.1);
}
.calculator-select-item svg {
  height: 100%;

  transition: transform 0.25s ease-in-out;
}

.calculator-field {
  width: 275px;
}
