:root {
  --orange: #e8940f;
  --purple: #764986;

  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body * {
  box-sizing: inherit;
}
.insert-calculator-here {
  position: relative;
  min-height: 100vh;
  background: var(--grey-200);
  max-width: 520px;
}

.icon svg {
  height: 100%;
}

.grey-bg {
  background: var(--grey-200);
}
.wrapper {
  height: 100%;
}

.insert-calculator-here .result-section {
  padding: 20px;
}
.insert-calculator-here h4 {
  color: var(--grey-700);
  font-size: 22px;
}

.insert-calculator-here .result-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(1px, 1fr));
  row-gap: 10px;
}
.insert-calculator-here .label,
.insert-calculator-here .total.value {
  font-weight: bold;
}
.insert-calculator-here .value.total {
  text-shadow: 0 0 1px rgb(0 0 0 /0.1);
}
.insert-calculator-here .total {
  font-size: 18px;
  color: var(--purple);
  margin-top: 20px;
}
